@charset "utf-8";

.main-container {
	
}

.column {
	
}

.rounded {
	background-color: #151925;
	border-radius: 12px;
	margin: 20px;
	padding: 20px;
	height: 680px;
}

.search-form label{
	display: block;
	margin: 10px auto;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 24px;
}

.search-form input {
	display: block;
	margin: 10px auto;
	width: 80%;
	padding: 8px;
	text-align: center;
	border-radius: 4px;
	border: 0px;
}

.search-form > button {
	display: block;
	margin: 24px auto;
	text-align: center;
}

.display-form {
	margin: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 24px;
}

.name {
	font-size: 36px;
}

.birth-date {
	font-size: 18px;
}

.contact-infos {
	margin: 40px 0px;
}

.contacts {
	font-size: 18px;
}

.memberships-main {
	margin: 20px 0px;
}

.membership-cart {
	width: 150px;
	height: 280px;
	padding: 12px;
	margin: 10px;
	border-radius: 8px;
	background-color: #e0e0eb;
	text-align: center;
	color: #151925;
	font-size: 20px;
}

.m-id {
	font-size: 14px;
	margin-top: 10px;
	
}
	
.m-name {
	font-size: 24px;
	font-weight: 400;
		margin-bottom: 20px;
}

.m-exp {
	font-size: 20px;
	font-weight: 400;
}

.m-days {
	font-size: 22px;
	font-weight: 400;
}

.m-renew {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	margin-top: 18px;
}
