@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

.member-display {
	background-color: #151925;
	border-radius: 6px;
	padding: 2px;
	margin: 20px;
	display: inline-block;
	height: 104px;
}

.member-display img {
	height: 100px;
	display: inline-block;
	float: left;
}

.member-data {
	font-size: 30px;
	color: #e0e0eb;
	display: inline-block;
	float: left;
	height: 96px;
	margin: 0px 10px;
	padding: 10px;
}

.member-id {
	font-size: 16px;
	padding: 8px;
	text-align: left;
}

.member-name {
	font-size: 26px;
	padding: 8px;
	text-align: left;
}

.member-main-container {
	text-align: center;
	color: #757575;	
	margin: auto;
	width: 90%;
}

.member-container {

}

.member {
	width: 90%;
	margin: auto;
	margin-top: 20px;
	border: 1px solid #a1a1a1;
    padding: 10px 40px; 
    background: #151925;
    border-radius: 12px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}


.member-container-form {
	margin: 50px auto;
}

.member-form-container {
	width: 90%;
	margin: auto;
	margin-top: 20px;
	border: 1px solid #a1a1a1;
    padding: 10px 40px; 
    background: #151925;
    border-radius: 12px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

.member-form-element {
	margin: 15px auto;

}

.member-form-container form {
	margin-top: 30px;
}

.member-form-container label{
	text-align: right;
	padding: 10px; 
}

.member-form-container input, select, date{
	height: 32px;
	text-align: left;
	margin: 0px 5px;
	padding: 2px 8px; 
	border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.member-form-container table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0px;
	/* border: 1px; */
	text-align: left;
}

td input {
	width: 90%;
}

td select {
	width: 90%;
}

table, th, td {
    /* border: 1px solid black; */
    margin: 0px auto; 
    text-align: left;
}

.button-small {
	margin: 5px 0px;
	width: 90px;
	border: 1px solid #112951;
    color: #f4f8ff;
    padding: 4px 6px;   
    border-radius: 5px;
    box-sizing: border-box;
	font-size: 14px;
	cursor: pointer;
	display: block;
}

.button{
	margin: 5px 0px;
	width: 130px;
	border: 1px solid #112951;
    color: #f4f8ff;
    padding: 8px 16px;   
    border-radius: 5px;
    box-sizing: border-box;
	font-size: 14px;
	cursor: pointer;
	display: inline-block;
}

.member-button-group {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-left: 20px;
}