@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

h1 {
	margin-top: 100px;
	font-family: 'Oswald', sans-serif;
/* 	font-weight: 300; */
	font-size: 48px;
	color: #151925;
}


.memberships-main-container {
	text-align: center;
	color: #FEFEFE;	
	margin: auto;
	width: 80%;
}

.membership-container {
	width: 300px;
	display: inline-block;
	float: left;
}

.membership {
	width: 90%;
	height: 460px;
	margin: auto;
	margin-top: 20px;
	border: 1px solid #a1a1a1;
    padding: 10px 40px; 
    background: #151925;
    border-radius: 12px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

.price {
	padding: 20px 5px;
	font-size: 60px;
}

.price sup {
	font-size: 30px;
}

.membership-availability {
	font-size: 12px;
	padding: 20px;
	font-family: 'Raleway', sans-serif;
}

.membership-name {
	font-size: 16px;
	padding: 10PX 5px;
	font-family: 'Raleway', sans-serif;
}

.membership-details {
/* 	height: 120px; */
	font-size: 14px;
	padding: 30px 5px;
	font-family: 'Raleway', sans-serif;
}

hr {
	width: 30%;
	border-color: #02A6DE;
	border-width: 0.5px;
}

.membership-join {
	font-size: 22px;
	padding: 30px 5px;;

}

.membership-container-form {
	width: 600px;
	display: inline-block;
	float: left;
}

.membership-form-container {
	width: 90%;
	height: 460px;
	margin: auto;
	margin-top: 20px;
	border: 1px solid #a1a1a1;
    padding: 10px 40px; 
    background: #151925;
    border-radius: 12px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

.membership-form-container form {
	margin-top: 30px;
}

.form-element {
	width: 95%;
	padding: 15px 5px;
}

.button-group {
	margin: 20px;
	float: right;	
}

.membership-form-container label{
	width: 30%;
	float: left;
	text-align: right;
}

.membership-form-container input{
	width: 60%;
	text-align: left;
	padding: 4px 8px; 
	border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.membership-form-container button{
	margin: 5px 0px;
	width: 130px;
	border: 1px solid #112951;
    color: #f4f8ff;
    padding: 8px 16px;   
    border-radius: 5px;
    box-sizing: border-box;
	font-size: 14px;
	cursor: pointer;
	display: block;
}