@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

* {
    box-sizing: border-box;
}

body{	
	background-color: #e0e0eb;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	color: #e0e0eb;
}

a {
	text-decoration: none;
}

.content {
	margin: 0px;
}

/* .header-bkg{ */
/* 	height: 100px; */
/*     background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.7)); For Safari 5.1 to 6.0 */
/*     background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7)); For Opera 11.1 to 12.0 */
/*     background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7)); For Firefox 3.6 to 15 */
/*     background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.7)); Standard syntax (must be last) */
	
/* 	position: fixed; */
/* 	top: 0; */
/* 	width: 100%; */
/* } */

.header-bkg {
	background: #151925;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
}

.header{
	padding: 20px;
}

.logo{
	display: inline;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	color: #FEFEFE;	
}

.logo-blue{
	color: #00d2ff;
	font-weight: bold;
}

.text-blue{
	color: #00d2ff;
}

.text-orange {
	color: #FF651E;
}

.text-gray {
	color: #757575;
}

.text-red {
	color: #d60000;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.bkg-orange {
	background-color: #FF651E;
}

.bkg-blue{
	background-color: #00d2ff;
}

.bkg-red{
	background-color: #b30000;
}


.zero-content {
	position: relative;
	height: 350px;
	z-index: -1;
}

.zero-content img {
	position: absolute;
	z-index: -2;
}

.zero-content h1 {
	padding: 120px;
	font-family: 'Oswald', sans-serif;
/* 	font-weight: 300; */
	font-size: 48px;
	color: #151925;
}


.first-content{
	text-align: center;
	height: 600px;
	color: #FEFEFE;	
}

.content-header {
	height: 60px;
	margin: auto;
	padding-left: 60px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 42px;
	color: #161614;
}

.second-content{
	height: 800px;
}

.second-content h1{
	font-family: 'Oswald', sans-serif;
	color: #FEFEFE;	
	font-weight: bold;
	font-size: 60px;	
}

.second-content h2{
	font-family: 'Oswald', sans-serif;
	color: #FEFEFE;	
	font-weight: bold;
	font-size: 48px;
}

.second-content h3{
	font-family: 'Oswald', sans-serif;
	color: #FEFEFE;	
	font-weight: bold;
	font-size: 36px;
	padding: 5px 20px;	
}

.second-content p{
	font-family: 'Oswald', sans-serif;
	color: #FEFEFE;	
	font-size: 18px;
	margin: 0px 20px;
}

.second-content img {
	position: absolute;
	max-height 800px;
	z-index: -2;
}

.left {
	display: inline-block;
	float: left;
}

.left-margin {
	background-color: white;
}

.right {
	display: inline-block;
	float: right;
}

.center {
	margin: auto;
}

.footer {
	height: 600px;
	background-color: #151925;
	color: white;
}

.footer-content {
	padding: 30px;
}

.footer-content h1{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #D0D0DA;	
	font-size: 22px;
	margin: 30px;
}

.footer-content h2{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #D0D0DA;	
	font-size: 22px;
	margin: 50px 30px;
}
	

.footer-content p{
	font-size: 14px;
	padding: 5px 25px;
	font-family: 'Raleway', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item {
  padding: 5px;
}

.full-width{
	width: 100%;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;	
}
@media only screen and (min-width: 480px) {
    /* For tablets: */
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
		
}

@media only screen and (min-width: 768px) {
    /* For desktop low res: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 1024px) {
    /* For desktop high res: */
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}		
}

.navbar {	
    overflow: hidden; 
	display: inline;
	float: right;
	margin-right: 20px;
	font-size: 14px;
}

.navbar a {
    float: left;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 14px;  
	font-family: 'Raleway', sans-serif;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color: #02A6DE;
	
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	border-top: 4px solid #02A6DE;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.after-navbar {
    clear: left;      
}




.text-box-on-pic {
	width: 90%;
	margin: auto;
	margin-top: 100px;
}

.text-box-on-pic h2 {
	margin-top: 200px;
}

.first-content-ul {
	font-family: 'Oswald', sans-serif;
	color: #FEFEFE;	
	font-size: 22px;
	margin: 30px;
}

.first-content-li {
	padding: 5px;
}

.list {
	padding-right: 10px;
}