<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title th:text="${pageTitle}">NRG GYM</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href="css/style.css" />
	<link rel="stylesheet" type="text/css" th:href="@{css/membership.css}" href="css/membership.css" />
	
</head>

<body>

	<div class="content">
	
	<div class="header-bkg">
		<div class="header">
			<div class="left col-m-4">	
				<div class="logo">EN3RGIE<span class="logo-blue"> GYM</span></div>	
			</div>			
			<div class="right text-right col-m-8">
			<div class="navbar">				
				<a href="/">Home</a>
				<a href="#">Prices and Membership</a>	
				<!-- <a href="members.html">Members</a>	 -->	
				<div class="dropdown">
						<button class="dropbtn">Trainings (+)					
						</button>
						<div class="dropdown-content">
							<a href="#">Cardio</a>
							<a href="#">Strenghten</a>
							<a href="#">Personal trainers</a>
						</div>
				</div>
				<a href="#">Gallery</a>			
				<div class="dropdown">
						<button class="dropbtn">Log in (+)							
						</button>
						<div class="dropdown-content">
							<a href="#">Log in</a>
							<a href="#">Sign up</a>
						</div>
				</div>
				<div class="dropdown">
						<button class="dropbtn">Personnel (+)							
						</button>
						<div class="dropdown-content">
							<a href="main.html">Main</a>
							<a href="members.html">Members</a>
							<a href="memberships.html">Memberships</a>
						</div>
				</div>
			</div>
			</div>	
		</div>
	</div>
	
	<div class="zero-content text-center">
		<h1>
			<span class="text-orange">MEMBERSHIP SPECIAL!</span> BUY 6 MONTHS-GET 6 MONTHS FREE  
			<p class="text-blue"> ... OR - JOIN FOR ONLY $9.</p>
		</h1>
				
	</div>
	
	<div class="content-header">
		Membership
	</div>
	
	<div class="first-content">
		<div class="left col-m-3">
			<div class="membership">			
				<div class="price">
					$39<sup>.00</sup>
				</div>
				<div class="membership-availability">
					PER MONTH
				</div>
				<hr />
				<div class="membership-details">
					Enrollment Fee – Zero! <br/>
					$39/Month <br/>
					1 Month Membership
				</div>
				<div class="membership-join text-orange">
				JOIN NOW!
				</div>
			</div>
		</div>
		<div class="left col-m-3">
			<div class="membership">			
				<div class="price">
					$399<sup>.00</sup>
				</div>
				<div class="membership-availability">
					PER YEAR
				</div>
				<hr />
				<div class="membership-details">
					Enrollment Fee – $69 <br/>
					$399 Paid In Full<br/>
					12 Month Membership
				</div>
				<div class="membership-join text-orange">
				JOIN NOW!
				</div>
			</div>
		</div>
		<div class="left col-m-3">
			<div class="membership">			
				<div class="price">
					$9<sup>.00</sup>
				</div>
				<div class="membership-availability">
					ONE DAY
				</div>
				<hr />
				<div class="membership-details">
					Enrollment Fee – Zero!
				</div>
				<div class="membership-join text-orange">
				JOIN NOW!
				</div>
			</div>
		</div>
		<div class="left col-m-3">
			<div class="membership">			
				<div class="price">
					$99<sup>.00</sup>
				</div>
				<div class="membership-availability">
					PAY 10 GET 12
				</div>
				<hr />
				<div class="membership-details">
					Enrollment Fee – Zero!
				</div>
				<div class="membership-join text-orange">
				JOIN NOW!
				</div>
			</div>
		</div>
	</div>
	
	<div class="second-content">
		<div>
		<img class="full-width" th:src="@{images/second-cont-bkg.jpg}" src="images/second-cont-bkg.jpg" alt="Smiley face" />
		</div>
		<div class="left col-m-7">
			<div class="text-box-on-pic">
				<h1>
				EN3RGIE<span class="text-blue"> GYM</span>
				</h1>
				<p>
					Established in 2002, Energie Gym is the Longest Running Gym in the City! 
					It is currently owned and operated since 2008 by Vince Consalvo, 
					former physique competitor, judge, equipment analyst, bodybuilding historian, 
					and holder of 7 personal training certifications including NASM, and Resistance Training Specialist 
					Levels 1  2. This summer marks his 26th year in business!
				</p>
				<div class="first-content-ul">
					<div class="first-content-li">
						<span class="text-blue list">1.</span>	CARDIO TRAININGS	
					</div>		
					<div class="first-content-li">
						<span class="text-blue list">2.</span>	STRENGHTEN TRAININGS	
					</div>	
					<div class="first-content-li">
						<span class="text-blue list">3.</span>	PERSONAL TRAINERS	
					</div>	
					<div class="first-content-li">
						<span class="text-blue list">4.</span>	STRETCHING	
					</div>	
					<div class="first-content-li">
						<span class="text-blue list">5.</span>	UNLIMITED TRAININGS	
					</div>	
				</div>
			</div>
		</div>
		
		<div class="left col-m-5">
			<div class="text-box-on-pic">
				<h2>
					FREE <span class="text-blue">ONE DAY</span><br/>

					TRIAL MEMBERSHIP
				</h2>
				<h3>
					<span class="text-orange">SIGN UP NOW!</span> 
				</h3>
			</div>
		</div>
		
	</div>
	
	
	<div class="footer">
		<div class="left col-m-4">
			<div class="footer-content">
			<h1>
			About EN3RGIE GYM
			</h1>
			<p>
			Energie Gym offers it's members a one stop shop for everything fitness - all the things that matter: Personal Training, Group Training, Boxing training, Stretching Programs, Supplements, Juice Bar, and for that finishing touch - Tanning.
			</p>
			<p>
			345 West 42nd Street<br/>
			New York, NY 10036<br/>
			T: (212) 555-0850			
			</p>
			</div>
		</div>
		<div class="left col-m-4">
			<div class="footer-content">
			<h1>
			Hours
			</h1>
			<div class="grid-container">
				<div class="grid-item">Monday</div>		<div class="grid-item">5:00AM - 11:00PM</div>
				<div class="grid-item">Tuesday</div>	<div class="grid-item">5:00AM - 11:00PM</div>	
				<div class="grid-item">Wednesday</div>	<div class="grid-item">5:00AM - 11:00PM</div>	
				<div class="grid-item">Thursday</div>	<div class="grid-item">5:00AM - 11:00PM</div>	
				<div class="grid-item">Friday</div>		<div class="grid-item">5:00AM - 11:00PM</div>	
				<div class="grid-item">Saturday</div>	<div class="grid-item">8:00AM - 8:00PM</div>	
				<div class="grid-item">Sunday</div>		<div class="grid-item">8:00AM - 8:00PM</div>		
			</div>
			</div>
		</div>
		
		<div class="left col-m-4">
			<div class="footer-content text-center">
			<h2>
			Enrgie Gym - 2017 - all rights reserved.
			</h2>
			<p>Technogies:</p>
			<p>Java with Spring Tool Suit</p>
			<p>Javascript | HTML | CSS</p>
			</div>
		</div>
		
		<div class="left col-m-4">			
		</div>
	</div>	
	
	
	
	</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!--<script src="js/date.js"></script>-->
	
</body>
</html>