<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title th:text="${pageTitle}">NRG GYM</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href="css/style.css" /> 	
    <link rel="stylesheet" type="text/css" th:href="@{css/membership.css}" href="css/membership.css" /> 
    <link rel="stylesheet" type="text/css" th:href="@{css/member.css}" href="css/member.css" /> 
	<link rel="stylesheet" type="text/css" th:href="@{css/main.css}" href="css/main.css" /> 

</head>

<body>

	<div class="content">
	
	<div class="header-bkg">
		<div class="header">
			<div class="left col-m-4">	
				<div class="logo">EN3RGIE<span class="logo-blue"> GYM</span></div>	
			</div>			
			<div class="right text-right col-m-8">
			<div class="navbar">				
				<a href="/">Home</a>
				<a href="#">Prices and Membership</a>	
				<!-- <a href="members.html">Members</a>	 -->	
				<div class="dropdown">
						<button class="dropbtn">Trainings (+)					
						</button>
						<div class="dropdown-content">
							<a href="#">Cardio</a>
							<a href="#">Strenghten</a>
							<a href="#">Personal trainers</a>
						</div>
				</div>
				<a href="#">Gallery</a>			
				<div class="dropdown">
						<button class="dropbtn">Log in (+)							
						</button>
						<div class="dropdown-content">
							<a href="#">Log in</a>
							<a href="#">Sign up</a>
						</div>
				</div>
				<div class="dropdown">
						<button class="dropbtn">Personnel (+)							
						</button>
						<div class="dropdown-content">
							<a href="main.html">Main</a>
							<a href="members.html">Members</a>
							<a href="memberships.html">Memberships</a>
						</div>
				</div>
			</div>
			</div>	
		</div>
	</div>
	
	<div class="text-center">	
		<h1>
			<span class="text-orange">MEMBER</span> INFORMATIONS		
		</h1>
	</div>
	
	<div class="main-container">
	
	<div class="left column col-m-3">
		<div class="rounded">		
			<form action="#" th:action="@{/main.html(id=${member.id})}" th:object="${member}" method="get">	
				<div class="search-form">
					<label class="text-gray">Member ID:</label>
					<input type="text" th:field="*{id}" />
					<button class="bkg-blue button"  type="submit">SEARCH</button>	
				</div>		
			</form>
			<hr />
		</div>
	</div>

	
	<div class="left column col-m-9">
		<div class="rounded">
			<div class="display-form" th:if="${member.id != null}">
				<div class="name" >
					<span class="text-orange">Name: </span>
					<span th:text="${member.firstName}">First name</span> <span th:text="${member.lastName}">Last name</span><br/>
				</div>
				<div class="birth-date">
					<span class="text-blue">Birth date:  </span>
					<span th:text="${#dates.format(member.birthDate, 'dd-MM-yyyy')}">2017.11.16.</span>
				</div>
				<div class="contact-infos">
					<span class="text-orange">CONTACT INFOS:  </span>				
					<div class="contacts" th:each="cinfo : ${member.contactInfos}">					
						<span th:text="${cinfo.type}">TYPE</span> ( 
						<span th:text="${cinfo.description}">DESCRIPTION</span> ) : 	
						<span th:text="${cinfo.identifier}">IDENTIFER</span>					
					</div>
				</div>	
				<span class="text-orange">MEMBERSHIPS:  </span>
				<div class="memberships-main">
					<div class="membership-cart left" th:each="membership : ${member.memberships}">		
						<div class="m-id" th:text="${membership.type.id}">ID</div> 			
						<div class="m-name" th:text="${membership.type.name}">TYPE NAME</div> 
						<div class="m-id text-orange">Valid till</div> 
						<div class="m-exp" th:text="${#dates.format(membership.expiryDate, 'dd-MM-yyyy')}">2017.11.16.</div>	
						<div class="m-id text-orange">Day(s) remained</div> 
						<div class="m-days" th:text="${membership.days}">30</div>
						<div class="m-renew text-orange"><a th:href="@{/member.html(memberId=${member.id})}" href="member.html">RENEW</a></div>
					</div>

					
				</div>
			</div>
			<div class="text-orange" th:text="${message}"></div>
		</div>	
		
	</div>
	
		
	</div>	
	
	
	</div>
	

	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!--<script src="js/date.js"></script>-->
	
</body>
</html>