<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title th:text="${pageTitle}">NRG GYM</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href="..static/css/style.css" /> 	
    <link rel="stylesheet" type="text/css" th:href="@{css/membership.css}" href="css/membership.css" /> 
    <link rel="stylesheet" type="text/css" th:href="@{css/member.css}" href="css/member.css" /> 

</head>

<body>

<div class="content">
	
	<div class="header-bkg">
		<div class="header">
			<div class="left col-m-4">	
				<div class="logo">EN3RGIE<span class="logo-blue"> GYM</span></div>	
			</div>			
			<div class="right text-right col-m-8">
			<div class="navbar">				
				<a href="/">Home</a>
				<a href="#">Prices and Membership</a>	
				<!-- <a href="members.html">Members</a>	 -->	
				<div class="dropdown">
						<button class="dropbtn">Trainings (+)					
						</button>
						<div class="dropdown-content">
							<a href="#">Cardio</a>
							<a href="#">Strenghten</a>
							<a href="#">Personal trainers</a>
						</div>
				</div>
				<a href="#">Gallery</a>			
				<div class="dropdown">
						<button class="dropbtn">Log in (+)							
						</button>
						<div class="dropdown-content">
							<a href="#">Log in</a>
							<a href="#">Sign up</a>
						</div>
				</div>
				<div class="dropdown">
						<button class="dropbtn">Personnel (+)							
						</button>
						<div class="dropdown-content">
							<a href="main.html">Main</a>
							<a href="members.html">Members</a>
							<a href="memberships.html">Memberships</a>
						</div>
				</div>
			</div>
			</div>	
		</div>
	</div>
	
	
	<div class="text-center">	
		<h1>
			<span class="text-orange">MANAGE</span> MEMBERSHIPS		
		</h1>
	</div>
	
<!-- 	******************************************************************************************** -->
	
	<div class="member-main-container">
		<div class="member-container">	
		
			<div class="left col-m-6 text-orange">
				<span class="text-blue">Id: </span>
				<span th:text="${member.id}"></span><br/>
				<span class="text-blue">Name: </span>
				<span th:text="${member.firstName}">First name</span> <span th:text="${member.lastName}">Last name</span><br/>
				<span class="text-blue">Birth date:  </span>
				<span th:text="${member.birthDate}">2017.11.16.</span>	<br/>

				<span class="text-blue">CONTACT INFOS:  </span>
				<div th:each="cinfo : ${member.contactInfos}">
					
					<span th:text="${cinfo.type}">type</span> >>> 
					<span th:text="${cinfo.identifier}">2017.11.16.</span>	
					
				</div>
				
				<span class="text-blue">MEMBERSHIP INFOS:  </span>
				<div th:each="membership : ${member.memberships}">
					
					<span th:text="${membership.type.name}">name</span> >>> 
					<span th:text="${membership.expiryDate}">2017.11.16.</span>	>>>
					<span th:text="${membership.days}">2017.11.16.</span>	
					
				</div>		
			</div>
		</div>	
		
		
		<div class="member-container">		
			<div th:each="membershipType : ${membershipTypes}">
					<span th:text="${membershipType.id}">name</span> >>> 
					<span th:text="${membershipType.name}">name</span> >>> 
					<span th:text="${membershipType.description}">2017.11.16.</span>	>>>
					<span th:text="${membershipType.price}">2017.11.16.</span>	>>>
					<span th:text="${membershipType.duration}">2017.11.16.</span>						
			</div>	
		</div>
		
		<div class="member-container">
			<div class="member-form-container">
				<form action="#" th:action="@{/manage-memberships.html(memberId=${member.id})}" th:object="${member}" method="post">
					<input th:field="*{id}" />
					<select>
						<option th:each="membershipType : ${membershipTypes}" th:value="${membershipType.id}" th:text=" ${membershipType.name}"></option>
					</select>
					<div class="button-group">
						<button class="bkg-orange" th:if="${member.id != null}" type="submit" name="action" value="SAVE">Save changes</button>											
					</div>	
				</form>	
			</div>
		</div>
		
		
	</div>
</div>
					
    			
        		

	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	
</body>
</html>