<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title th:text="${pageTitle}">NRG GYM</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href="css/style.css" /> 	
	<link rel="stylesheet" type="text/css" th:href="@{css/membership.css}" href="css/membership.css" /> 

</head>


<body>

	<div class="content">
	
	<div class="header-bkg">
		<div class="header">
			<div class="left col-m-4">	
				<div class="logo">EN3RGIE<span class="logo-blue"> GYM</span></div>	
			</div>			
			<div class="right text-right col-m-8">
			<div class="navbar">				
				<a href="/">Home</a>
				<a href="#">Prices and Membership</a>	
				<!-- <a href="members.html">Members</a>	 -->	
				<div class="dropdown">
						<button class="dropbtn">Trainings (+)					
						</button>
						<div class="dropdown-content">
							<a href="#">Cardio</a>
							<a href="#">Strenghten</a>
							<a href="#">Personal trainers</a>
						</div>
				</div>
				<a href="#">Gallery</a>			
				<div class="dropdown">
						<button class="dropbtn">Log in (+)							
						</button>
						<div class="dropdown-content">
							<a href="#">Log in</a>
							<a href="#">Sign up</a>
						</div>
				</div>
				<div class="dropdown">
						<button class="dropbtn">Personnel (+)							
						</button>
						<div class="dropdown-content">
							<a href="main.html">Main</a>
							<a href="members.html">Members</a>
							<a href="memberships.html">Memberships</a>
						</div>
				</div>
			</div>
			</div>	
		</div>
	</div>
	
	<div class="text-center">	
		<h1>
			<span class="text-orange">MEMBERSHIP</span> DETAILS		
		</h1>
	</div>
	
	<!-- *********** -->
	<div class="memberships-main-container">
	
		<div class="membership-container">			
			<div class="membership">			
				<div class="price" >
					$<span th:text="${membershipTypeForm.membershipType.price}">39</span><sup>.00</sup>
				</div>
				<div class="membership-availability" th:text="${membershipTypeForm.membershipType.duration}">
					PER MONTH
				</div>
				<hr />
				<div class="membership-name" th:text="${membershipTypeForm.membershipType.name}">
					MEMBERSHIP NAME
				</div>
				<div class="membership-details" th:text="${membershipTypeForm.membershipType.description}">
					This is the description of the membership type.
				</div>
				<a th:href="@{/membership.html(membershipId=${membershipTypeForm.membershipType.id})}" href="membership.html" >
					<div class="membership-join text-orange">
					DETAILS
					</div>
				</a>
					
			</div>			
		</div>
		
		<div class="membership-container-form">
			<div class="membership-form-container">			
				<form action="#" th:action="@{/membership.html(membershipId=${membershipTypeForm.membershipType.id})}" th:object="${membershipTypeForm}" method="post">
				
					<input type="hidden" th:field="*{membershipType.id}" />
					<div class="form-element">
						<label>Name:</label>
						<input type="text" th:field="*{membershipType.name}" />
						<span class="text-red" th:if="${#fields.hasErrors('membershipType.name')}" th:errors="*{membershipType.name}">Error</span> 
					</div>
					<div class="form-element">
						<label>Description:</label>
						<input type="text" th:field="*{membershipType.description}" />
					</div>
					<div class="form-element">
						<label>Duration:</label>
						<input type="text" th:field="*{membershipType.duration}" />
						<span class="text-red" th:if="${#fields.hasErrors('membershipType.duration')}" th:errors="*{membershipType.duration}">Error</span> 
					</div>
					<div class="form-element">
						<label>Price:</label>
						<input type="text" th:field="*{membershipType.price}" />
						<span class="text-red" th:if="${#fields.hasErrors('membershipType.price')}" th:errors="*{membershipType.price}">Error</span> 
					</div>
					<div class="form-element">
					<div class="button-group">
						<button class="bkg-orange" th:if="${membershipTypeForm.membershipType.id != null}" type="submit" name="action" value="SAVE">Save changes</button>						
						<button class="bkg-blue" th:if="${membershipTypeForm.membershipType.id != null}" type="submit" name="action" value="NEW">Create new</button>						
						<button class="bkg-red" th:if="${membershipTypeForm.membershipType.id != null}" type="submit" name="action" value="DELETE">Delete</button>	
					</div>
					</div>
				</form>
			</div>		
		</div>
	</div>
	
	<!-- ****** -->
<!-- 	<div class="first-content">
	<div class="left col-m-6 text-orange">
		<span class="text-blue">Name: </span>
		<span th:text="${membershipTypeForm.membershipType.name}">Test Member</span><br/>
		<span class="text-blue">description: </span>
		<span th:text="${membershipTypeForm.membershipType.description}">description</span><br/>
		<span class="text-blue">price: </span>
		<span th:text="${membershipTypeForm.membershipType.price}">price</span><br/>
		<span class="text-blue">duration: </span>
		<span th:text="${membershipTypeForm.membershipType.duration}">duration</span><br/>
	</div>	 -->
	
	
	<div class="left col-m-6">
		
	
	</div>
	</div>
	
	

	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	
</body>
</html>