<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title th:text="${pageTitle}">NRG GYM</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href="css/style.css" /> 	
    <link rel="stylesheet" type="text/css" th:href="@{css/membership.css}" href="css/membership.css" /> 
    <link rel="stylesheet" type="text/css" th:href="@{css/member.css}" href="css/member.css" /> 
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}" href="css/main.css" /> 

</head>

<body>

	<div class="content">
	
	<div class="header-bkg">
		<div class="header">
			<div class="left col-m-4">	
				<div class="logo">EN3RGIE<span class="logo-blue"> GYM</span></div>	
			</div>			
			<div class="right text-right col-m-8">
			<div class="navbar">				
				<a href="/">Home</a>
				<a href="#">Prices and Membership</a>	
				<!-- <a href="members.html">Members</a>	 -->	
				<div class="dropdown">
						<button class="dropbtn">Trainings (+)					
						</button>
						<div class="dropdown-content">
							<a href="#">Cardio</a>
							<a href="#">Strenghten</a>
							<a href="#">Personal trainers</a>
						</div>
				</div>
				<a href="#">Gallery</a>			
				<div class="dropdown">
						<button class="dropbtn">Log in (+)							
						</button>
						<div class="dropdown-content">
							<a href="#">Log in</a>
							<a href="#">Sign up</a>
						</div>
				</div>
				<div class="dropdown">
						<button class="dropbtn">Personnel (+)							
						</button>
						<div class="dropdown-content">
							<a href="main.html">Main</a>
							<a href="members.html">Members</a>
							<a href="memberships.html">Memberships</a>
						</div>
				</div>
			</div>
			</div>	
		</div>
	</div>
	
	
	<div class="text-center">	
		<h1>
			<span class="text-orange">MEMBER</span> INFORMATIONS		
		</h1>
	</div>
	
	
	<div class="member-main-container">
<!-- 		<div class="member-container"> -->
<!-- 			<span class="text-orange">Name: </span> -->
<!-- 			<span th:text="${memberForm.member.firstName}">First name</span> <span th:text="${memberForm.member.lastName}">Last name</span><br/> -->
<!-- 			<span class="text-orange">Birth date:  </span> -->
<!-- 			<span th:text="${#dates.format(memberForm.member.birthDate, 'dd-MM-yyyy')}">2017.11.16.</span>	<br/> -->
<!-- 			<span th:text="${memberForm.member.birthDate}">2017.11.16.</span>	<br/> -->
			
<!-- 			<span class="text-orange">CONTACT INFOS:  </span> -->
			
<!-- 			<div th:each="cinfo : ${memberForm.member.contactInfos}">					 -->
<!-- 				<span th:text="${cinfo.type}">TYPE</span> |  -->
<!-- 				<span th:text="${cinfo.identifier}">IDENTIFER</span> | 	 -->
<!-- 				<span th:text="${cinfo.identifier}">DESCRIPTION</span>					 -->
<!-- 			</div> -->
				
<!-- 			<span class="text-orange">MEMBERSHIP INFOS:  </span> -->
<!-- 			<div th:each="membership : ${memberForm.member.memberships}">					 -->
<!-- 				<span th:text="${membership.type.name}">TYPE NAME</span> |  -->
<!-- 				<span th:text="${membership.expiryDate}">2017.11.16.</span>	| -->
<!-- 				<span th:text="${membership.days}">30</span>					 -->
<!-- 			</div>	 -->
<!-- 		</div>		 -->
	
	
	

<!-- 	****FORM*** -->
	<div class="member-container-form col-m-9">
		<div class="member-form-container">
			<form action="#" th:action="@{/member.html(memberId=${memberForm.member.id})}" th:object="${memberForm}" method="post">				
					<input type="hidden" th:field="*{member.id}" />
					<div class="member-form-element">
						<label>First Name:</label>						
						<input class="col-m-7" type="text" th:field="*{member.firstName}" />
						<span class="text-red" th:if="${#fields.hasErrors('member.firstName')}" th:errors="*{member.firstName}">Error</span> 
					</div>
					<div class="member-form-element">
						<label>Last Name:</label>						
						<input class="col-m-7" type="text" th:field="*{member.lastName}" />
						<span class="text-red" th:if="${#fields.hasErrors('member.lastName')}" th:errors="*{member.lastName}">Error</span> 
					</div>
					<div class="member-form-element">
						<label>Birth Date:</label>
						<input class="col-m-7" type="date" th:field="*{member.birthDate}" />
						<span class="text-red" th:if="${#fields.hasErrors('member.birthDate')}" th:errors="*{member.birthDate}">Error</span> 
					</div>
					<div class="member-form-element " th:if="${#lists.isEmpty(memberForm.member.contactInfos)}" >
						<span >There are no contact information yet...</span>
						<div class="right">
						<button class="bkg-blue button-small"  type="submit" name="action" value="ADD_CONTACT">Add new</button>
						</div>
					</div>							
					
					<div class="member-form-element">
						<div class="text-orange left" >Contact informations</div>
						<table th:if="${not #lists.isEmpty(memberForm.member.contactInfos)}">
					          <thead>
					            <tr>
					              <th>Type</th>
					              <th>Identifier</th>
					              <th>Description</th>
					              <th class="action"><button class="bkg-blue button-small"  type="submit" name="action" value="ADD_CONTACT">Add new</button></th>
					            </tr>
					          </thead>			          
					          <tbody>
					            <tr th:each="contactInfo, stat : ${memberForm.member.contactInfos}">
					              <input type="hidden" th:field="*{member.contactInfos[__${stat.index}__].id}" />
					
					              <td><select th:field="*{member.contactInfos[__${stat.index}__].type}">
					                  <option th:each="contactType : ${T(com.webdev.nrggym.model.ContactInfo.ContactType).values()}" th:value="${contactType}" th:text=" ${contactType}"></option>
					              </select></td>
					              <td><input class="input-full-width" type="text" th:field="*{member.contactInfos[__${stat.index}__].identifier}" />
					              </td>
					              <td><input type="text" th:field="*{member.contactInfos[__${stat.index}__].description}" /></td>
					              <td class="action">
					                <button class="bkg-red button-small" type="submit" name="deleteContactInfoIndex" value="0" th:value="${stat.index}">Delete</button>
					              </td>
					            </tr>
					          </tbody>
        				</table>
        			</div>
        			
        			
        			<div class="member-form-element " th:if="${#lists.isEmpty(memberForm.member.memberships)}" >
						<span >There are no memberships yet...</span>
						<div class="right">
						<button class="bkg-blue button-small"  type="submit" name="action" value="ADD_MEMBERSHIP">Add new</button>
						</div>
					</div>	        			
        			
        		
					<div class="text-orange left" >Membership informations</div>
        			
        			<div class="member-form-element">
        				<table th:if="${not #lists.isEmpty(memberForm.member.memberships)}">
					          <thead>
					            <tr>
					              <th>Type</th>
					              <th>Expiry Date</th>
					              <th>Days Remained</th>
				              <th class="action"><button class="bkg-blue button-small"  type="submit" name="action" value="ADD_MEMBERSHIP">Add new</button></th> 
					            </tr>
					          </thead>
			          
					          <tbody>
					            <tr th:each="membership, stat : ${memberForm.member.memberships}">
					              <input type="hidden" th:field="*{member.memberships[__${stat.index}__].id}" />
					              <td><select th:field="*{member.memberships[__${stat.index}__].type.id}">
					                  <option th:each="membershipType : ${membershipTypes}" th:value="${membershipType.id}" th:text=" ${membershipType.name}"></option>
					              </select></td>
<!-- 					              <input type="hidden" th:field="*{member.memberships[__${stat.index}__].type.id}" />				               -->
<!-- 					              <td><input type="text" th:field="*{member.memberships[__${stat.index}__].type.name}" /> -->
<!-- 					              </td> -->
					              <td><input type="date" th:field="*{member.memberships[__${stat.index}__].expiryDate}" />
					              <span class="text-red" th:if="${#fields.hasErrors('member.memberships[__${stat.index}__].expiryDate')}" th:errors="*{member.memberships[__${stat.index}__].expiryDate}">Error</span> 
					              </td>
					              <td><input type="text" th:field="*{member.memberships[__${stat.index}__].days}" />
					              <span class="text-red" th:if="${#fields.hasErrors('member.memberships[__${stat.index}__].days')}" th:errors="*{member.memberships[__${stat.index}__].days}">Error</span>
					              </td>
					              <td class="action">
					                <button class="bkg-red button-small" type="submit" name="deleteMembershipInfoIndex" value="0" th:value="${stat.index}">Delete</button>
					              </td>
					            </tr>
					          </tbody>
        				</table>
						
						<div class="member-form-element">
						<div class="member-button-group">
							<button class="bkg-orange button" th:if="${memberForm.member.id != null}" type="submit" name="action" value="SAVE">Save changes</button>
							<button class="bkg-orange button" th:if="${memberForm.member.id == null}" type="submit" name="action" value="SAVE">Create new</button>												
							<button class="bkg-red button" th:if="${memberForm.member.id != null}" type="submit" name="action" value="DELETE">Delete</button>
							<button class="bkg-blue button" type="submit" name="action" value="BACK">Back</button>
						</div>
						</div>
					
					
						
						
					</div>	
					</form>				
				</div>
					
			
		
	</div>
	
	</div>
	
	<div class="footer">
		<div class="left col-m-4">
			<div class="footer-content">
			<h1>
			About EN3RGIE GYM
			</h1>
			<p>
			Energie Gym offers it's members a one stop shop for everything fitness - all the things that matter: Personal Training, Group Training, Boxing training, Stretching Programs, Supplements, Juice Bar, and for that finishing touch - Tanning.
			</p>
			<p>
			345 West 42nd Street<br/>
			New York, NY 10036<br/>
			T: (212) 555-0850			
			</p>
			</div>
		</div>
		<div class="left col-m-4">
			<div class="footer-content">
			<h1>
			Hours
			</h1>
			<div class="grid-container">
				<div class="grid-item">Monday</div>		<div class="grid-item">5:00AM - 11:00PM</div>
				<div class="grid-item">Tuesday</div>	<div class="grid-item">5:00AM - 11:00PM</div>	
				<div class="grid-item">Wednesday</div>	<div class="grid-item">5:00AM - 11:00PM</div>	
				<div class="grid-item">Thursday</div>	<div class="grid-item">5:00AM - 11:00PM</div>	
				<div class="grid-item">Friday</div>		<div class="grid-item">5:00AM - 11:00PM</div>	
				<div class="grid-item">Saturday</div>	<div class="grid-item">8:00AM - 8:00PM</div>	
				<div class="grid-item">Sunday</div>		<div class="grid-item">8:00AM - 8:00PM</div>		
			</div>
			</div>
		</div>
		
		<div class="left col-m-4">
			<div class="footer-content text-center">
			<h2>
			Enrgie Gym - 2017 - all rights reserved.
			</h2>
			<p>Technogies:</p>
			<p>Java with Spring Tool Suit</p>
			<p>Javascript | HTML | CSS</p>
			</div>
		</div>
		
		<div class="left col-m-4">			
		</div>
	</div>	
	
	
	
	</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	
</body>
</html>