<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title th:text="${pageTitle}">NRG GYM</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href="css/style.css" /> 	
    <link rel="stylesheet" type="text/css" th:href="@{css/membership.css}" href="css/membership.css" /> 
    <link rel="stylesheet" type="text/css" th:href="@{css/member.css}" href="css/member.css" /> 
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}" href="css/main.css" /> 
	

</head>

<body>

	<div class="content">
	
	<div class="header-bkg">
		<div class="header">
			<div class="left col-m-4">	
				<div class="logo">EN3RGIE<span class="logo-blue"> GYM</span></div>	
			</div>			
			<div class="right text-right col-m-8">
			<div class="navbar">				
				<a href="/">Home</a>
				<a href="#">Prices and Membership</a>	
				<!-- <a href="members.html">Members</a>	 -->	
				<div class="dropdown">
						<button class="dropbtn">Trainings (+)					
						</button>
						<div class="dropdown-content">
							<a href="#">Cardio</a>
							<a href="#">Strenghten</a>
							<a href="#">Personal trainers</a>
						</div>
				</div>
				<a href="#">Gallery</a>			
				<div class="dropdown">
						<button class="dropbtn">Log in (+)							
						</button>
						<div class="dropdown-content">
							<a href="#">Log in</a>
							<a href="#">Sign up</a>
						</div>
				</div>
				<div class="dropdown">
						<button class="dropbtn">Personnel (+)							
						</button>
						<div class="dropdown-content">
							<a href="main.html">Main</a>
							<a href="members.html">Members</a>
							<a href="memberships.html">Memberships</a>
						</div>
				</div>
			</div>
			</div>	
		</div>
	</div>
	
	
	<div class="text-center">	
		<h1>
			<span class="text-orange">MEMBERS</span> LIST	<a class="m-renew text-blue" th:href="@{/member.html}" href="member.html">[CREATE NEW]</a>	
		</h1>
	</div>
	
	
	
	<div class="first-content">

		<div class="member-display col-m-4 left" th:each="member : ${members}">
			<a th:href="@{/member.html(memberId=${member.id})}" href="member.html" >	
				<img src="images/male.png" />				
				<div class="member-data">
					<div class="member-id">	
						<span class="text-orange" th:text="${member.id}">ID</span>
					</div>
					<div class="member-name">
					<span class="text-blue" th:text="${member.firstName}">First name</span> <span class="text-blue" th:text="${member.lastName}">Last name</span>
		<!-- 			<span th:text="${#dates.format(member.birthDate, 'dd-MM-yyyy')}">2017.11.16.</span>	 -->
					</div>
				</div>	
			</a>
			
		</div>
		
		
		
		
		
	</div>
		
	
	
	
	</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	
</body>
</html>