<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title th:text="${pageTitle}">NRG GYM</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href="css/style.css" /> 	
	<link rel="stylesheet" type="text/css" th:href="@{css/membership.css}" href="css/membership.css" /> 

</head>

<body>

	<div class="content">
	
	<div class="header-bkg">
		<div class="header">
			<div class="left col-m-4">	
				<div class="logo">EN3RGIE<span class="logo-blue"> GYM</span></div>	
			</div>			
			<div class="right text-right col-m-8">
			<div class="navbar">				
				<a href="/">Home</a>
				<a href="#">Prices and Membership</a>	
				<!-- <a href="members.html">Members</a>	 -->	
				<div class="dropdown">
						<button class="dropbtn">Trainings (+)					
						</button>
						<div class="dropdown-content">
							<a href="#">Cardio</a>
							<a href="#">Strenghten</a>
							<a href="#">Personal trainers</a>
						</div>
				</div>
				<a href="#">Gallery</a>			
				<div class="dropdown">
						<button class="dropbtn">Log in (+)							
						</button>
						<div class="dropdown-content">
							<a href="#">Log in</a>
							<a href="#">Sign up</a>
						</div>
				</div>
				<div class="dropdown">
						<button class="dropbtn">Personnel (+)							
						</button>
						<div class="dropdown-content">
							<a href="main.html">Main</a>
							<a href="members.html">Members</a>
							<a href="memberships.html">Memberships</a>
						</div>
				</div>
			</div>
			</div>	
		</div>
	</div>
	
	<div class="text-center">	
		<h1>
			<span class="text-orange">MEMBERSHIPS</span> LIST		
		</h1>
	</div>
	
	<!-- ***************** -->
	
	<div class="memberships-main-container">
	
		<div class="membership-container col-m-3" th:each="membership : ${memberships}" >
			
			<div class="membership">			
				<div class="price" >
					$<span th:text="${membership.price}">39</span><sup>.00</sup>
				</div>
				<div class="membership-availability" th:text="${membership.duration}">
					PER MONTH
				</div>
				<hr />
				<div class="membership-name" th:text="${membership.name}">
					MEMBERSHIP NAME
				</div>
				<div class="membership-details" th:text="${membership.description}">
					This is the description of the membership type.
				</div>
				<a th:href="@{/membership.html(membershipId=${membership.id})}" href="membership.html" >
					<div class="membership-join text-orange">
					DETAILS
					</div>
				</a>
					
			</div>			
		</div>
		
		
		

	
	</div>
	<!-- *************** -->
	
	</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	
</body>
</html>